test.js
Angular Intro.pdf
Desenvolvimento_Web_JavaScript/POKEDEX/.vscode/settings.json
TypeScript/package-lock.json
TypeScript/package.json
WebComponens_FrontEnd/assets/hulk.png
WebComponens_FrontEnd/assets/default_photo.png
TypeScript/tsconfig.json
Desenvolvimento_Web_JavaScript/iTunes/itunes.py
Desenvolvimento_Web_JavaScript/iTunes/itunes.html
Desenvolvimento_Web_JavaScript/iTunes/assets/js/itunes.js
