<nav class="navbar nav-bar">
    <div class="container container-nav-bar">
        <div>
            <span><img src="/assets/marvel_logo.png" alt="marvel"></span>
        </div>
      <div>
        <ul>
            <li class="nav-item"><span><a href="https://www.linkedin.com/in/miguel-angelo-a-decotelli-silva/"><img id="nav-bar-icons" src="/assets/linkedin.png"></a></span></li>
            <li class="nav-item"><span><a href="https://github.com/MiguelDecotelli"><img id="nav-bar-icons" src="/assets/github.png"></a></span></li>
            <li class="nav-item"><span><a href="https://miguel-decotelli.onrender.com"><img id="nav-bar-icons" src="/assets/python.png"></a></span></li>
        </ul>
      </div>
    </div>
  </nav>