/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container-global{
    background-color: #e5e6ed;
    width: 90%;
    height: 100vh;
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    overflow: auto;
}