@media screen and (min-width: 375px) and (max-width: 699px) {
    .primary-title {
        width: 100%;
    }
    .primary-title h3 {
        align-self: flex-start;
        font-weight: 900;
        margin-bottom: 3.125rem;
    }

    .primary-title hr {
        width: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        opacity: 1;
    }
}

@media screen and (min-width: 700px) {
    .primary-title h3 {
        align-self: flex-start;
        font-weight: 800;
        margin-bottom: 3.125rem;
    }

    .primary-title hr {
        max-width: 72vw;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        opacity: 1;
    }
}


@media screen and (min-width: 900px) {
    .primary-title h3 {
        align-self: flex-start;
        font-weight: 900;
        margin-bottom: 3.125rem;
    }

    .primary-title hr {
        max-width: 73vw;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        opacity: 1;
    }
}
